{{ partial "head.html" . }}
<body class="no-sidebar">

  {{ partial "header.html" . }}

  <!-- Main -->
    <article id="main">

      <header class="center container">
        <h2>{{ .Title }}</h2>
      </header>

      <!-- One -->
        <section class="wrapper style4 container">
          <p>
            <span>Categories:</span>
            {{ range .Params.categories }}
            <a rel="tag" href="/categories/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
            &nbsp;&nbsp;
            <span>Tags:</span>
            {{ range .Params.tags }}
            <a rel="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
            &nbsp;&nbsp;
            <span class="post-date created">Ecrit le : {{ .Date.Format "02-01-2006" }}</span>
          </p>

          <!-- Content -->
            <div class="content">
              <section>
                {{ if (isset .Params "image") }}
                <a href="#" class="image featured"><img src="{{ .Params.image}}" alt="" /></a>
                {{end}}
                {{ if (isset .Params "link")}}
                  <p><a href="{{ .Params.link }}">{{ .Params.link }}</a></p>
                {{ end }}
                {{ .Content }}
                <p style="float:right">{{ partial "github-edit.html" .}}</p>
              </section>
            </div>
        </section>

        <section class="wrapper style1 container special" id="avis">
          <header class="major">
            <h2>Votre avis compte</h2>
          </header>
          {{ partial "comments.html" .}}
        </section>

        <!-- Two -->
        <section class="wrapper style1 container special" id="more-like">

          <header class="major">
            <h2>Sur le même thème</h2>
          </header>

          <div class="row">
            {{ $page_link := .Permalink }}
            {{ $tags := .Params.tags }}
            {{ range first 5 .Site.Pages }}
              {{ $page := . }}
              {{ $has_common_tags := intersect $tags .Params.tags | len | lt 0 }}
              {{ if and $has_common_tags (ne $page_link $page.Permalink) }}
                {{ .Render "more-like-that"}}
              {{ end }}
            {{end}}
          </div>
        </section>

    </article>
    {{ partial "footer.html" .}}
    {{ partial "scripts/script.html" .}}
  </body>
</html>
