{{ partial "head.html" . }}
<body class="no-sidebar">

  {{ partial "header.html" . }}

  <!-- Main -->
    <article id="main">

      <header class="special container">
        <h2>{{ .Title }}</h2>
      </header>

      <!-- One -->
        <section class="wrapper style4 container">

          <!-- Content -->
            <div class="content">
              <section>
                {{ if (isset .Params "image") }}
                <a href="#" class="image featured"><img src="{{ .Params.image}}" alt="" /></a>
                {{end}}
                {{ .Content }}
              </section>
            </div>
            <span class="post-date created">Ecrit le : {{ .Date.Format "02-01-2006" }}</span>

        </section>
    </article>
    {{ partial "footer.html" .}}
    {{ partial "script.html" .}}
  </body>
</html>
