{{ $original := .Page.Resources.GetMatch (printf "*%s*" (.Get 0)) }}
{{ $command := .Get 1 }}
{{ $options := .Get 2 }}
{{ $image := $original }}
{{ if eq $command "Fit"}}
{{ $image := ($original.Fit $options) }}
{{ else if eq $command "Resize"}}
{{ $image := ($original.Resize $options) }}
{{ else if eq $command "Fill"}}
{{ $image := ($original.Fill $options) }}
{{ else }}
{{ errorf "Invalid image processing command: Must be one of Fit, Fill or Resize."}}
{{ end }}
{{ $link := .Get 3 }}
{{ if $link }}
{{ $image }}
  <a href="{{ $link }}">
    <img style="max-width: 100%; height: auto;" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
  </a>
{{ $image }}
{{ else }}
{{ $image }}
  <img style="max-width: 100%; height: auto;" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
{{ $image }}
{{ end }}
{{ with .Inner }}
{{ . }}
{{ end }}
