<section>
  <header>
  <h3>Dernières issues remontées</h3>
  </header>
      {{ $urlPre := "https://www.drupal.org/api-d7" }}
      {{ $dpidJ := getJSON $urlPre "/node.json?field_project_machine_name=" $.Params.project_repo_name}}
      {{ range first 1 $dpidJ.list }}
        {{ $nid := .nid }}
        {{ $gcJ := getJSON $urlPre "/node.json?type=project_issue&field_project=" $nid "&field_issue_status=1" }}
        {{ range first 3 $gcJ.list }}
            <a href="{{ .url }}">{{ .title }}</a>
            <p>{{ substr .body.value 3 203 | safeHTML }}...</p>
        {{end}}
      {{ end }}
  <footer>
    <ul class="buttons">
      <li><a href="{{ .Params.project_url }}" class="button small">Voir le projet</a></li>
    </ul>
  </footer>
</section>
