localhost:1314
root      public           # the folder where Hugo generates the website
#basicauth /admin user pass # protect the admin area using HTTP basic auth
#hugo                       # enable the admin panel
