    {{ partial "head.html" . }}

    <body class="index">

      {{ partial "header.html" . }}

      <!-- Banner -->
      <section id="banner">
        <div class="inner">

          <header>
            <h2>{{ .Site.Title }}</h2>
          </header>
          <p>{{ .Site.Params.subtitle }}</p>
          <footer>
            <ul class="buttons">
              <li><a href="#articles" class="button scrolly">Articles</a></li>
              <li><a href="#projets" class="button scrolly">Projets</a></li>
            </ul>
          </footer>

        </div>

      </section>

      <!-- Main -->
        <article id="main">
            <section class="wrapper style3 container special" id="articles">
              <header class="major">
                <h2>Mes derniers articles</h2>
              </header>

              <div class="main">
                <ul class="cbp_tmtimeline">
                  {{ range first 5 (where .Data.Pages "Section" "article") }}
                      {{ .Render "summary"}}
                  {{ end }}
                </ul>
              </div>

              <footer class="major">
                <ul class="buttons">
                  <li><a href="/article/" class="button">Voir les autres articles</a></li>
                </ul>
              </footer>

            </section>

          <!-- Two -->
          <section class="wrapper style1 container special" id="projets">

            <header class="major">
              <h2>Mes derniers projets</h2>
            </header>

            <div class="row">
              {{ range first 3 (where .Data.Pages.ByWeight "Section" "projet") }}
                  {{ .Render "block-home"}}
              {{ end }}
            </div>

          </section>

          <!-- Three -->
          <section class="wrapper style1 container special" id="veille">

            <header class="major">
              <h2>Derniers articles lus</h2>
            </header>

            <div class="row">
              {{ range first 8 (where .Data.Pages.ByWeight "Section" "veille") }}
                  {{ .Render "block-home"}}
              {{ end }}
            </div>

            <footer class="major">
              <ul class="buttons">
                <li><a href="/veille/" class="button">Voir les autres lectures</a></li>
              </ul>
            </footer>
          </section>
        </article>


<!--End mc_embed_signup-->

        {{ partial "footer.html" .}}
        {{ partial "scripts/script.html" .}}
    </body>
</html>
