
  <!-- One -->
  <section class="wrapper style4 special container 75% post-comments">

    <!-- Content -->
    <div class="content">
      <form name="form--comment" id="form--comment" class="ui form error">
        <div class="error message"></div>
        <div class="row 50%">
          <div class="12u field error">
            <label>Name</label>
            <input type="text" name="name" id="name" placeholder="Name" required>
          </div>
        </div>
        <div class="row 50%">
          <div class="12u field error">
            <label>Sujet</label>
            <input type="text" name="title" id="title" placeholder="Titre" required>
          </div>
        </div>
        <div class="row 50%">
          <div class="12u field error">
            <label>Message</label>
            <textarea name="message" id="message" placeholder="Message" required rows="7"></textarea>
          </div>
        </div>
        <input type="hidden" name="blogpost" value="{{.File.Dir}}">
        <div class="row">
          <div class="12u">
            <ul class="buttons">
              <li><input type="submit" class="ui submit button special" value="Envoyer le commentaire" /></li>
            </ul>
          </div>
        </div>
      </form>
    </div>

    <script>
      $('#form--comment').submit(function(e) {
        e.preventDefault();
        $.ajax({
            type: 'post',
            url: 'https://hooks.zapier.com/hooks/catch/281530/n6o26/',
            data: $('#form--comment').serialize(),
            success: function(json) {
              $('.message').text(json)
            }
        });
        return false;
      });
    </script>
  </section>

  <section>
  </section>



{{ if .Site.Params.livefyre }}
  <!-- START: Livefyre Embed -->
  <div id="livefyre-comments"></div>
  <script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
  <script type="text/javascript">
  (function () {
  var articleId = fyre.conv.load.makeArticleId(null);
  fyre.conv.load({}, [{
  el: 'livefyre-comments',
  network: "livefyre.com",
  siteId: "{{ .Site.Params.livefyre }}",
  articleId: articleId,
  signed: false,
  collectionMeta: {
      articleId: articleId,
      url: fyre.conv.load.makeCollectionUrl(),
  }
  }], function() {});
  }());
  </script>
  <!-- END: Livefyre Embed -->
{{ end }}

{{ if .Site.Params.muut }}
<section class="post-comments">
<a class="muut" href="https://muut.com/i/{{ .Site.Params.muut }}/comments:{{ .Title }}">Comments</a>
<script src="//cdn.muut.com/1/moot.min.js"></script>
</section>
{{ end }}

{{ if .Site.Params.disqusShortname }}
<div id="disqus_thread"></div>
<script type="text/javascript">

(function() {
    // Don't ever inject Disqus on localhost--it creates unwanted
    // discussions from 'localhost:1313' on your Disqus account...
    if (window.location.hostname == "localhost")
        return;

    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    var disqus_shortname = '{{ .Site.Params.disqusShortname }}';
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com/" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{{ end }}
