{{ partial "head.html" . }}
<body class="right-sidebar">

  {{ partial "header.html" . }}

  <!-- Main -->
    <article id="main">

      <header class="center container">
        <h2>{{ .Title }}</h2>
      </header>

        <!-- One -->
          <section class="wrapper style4 container">

            <div class="row 150%">
              <div class="{{ if eq .Params.is_github 1 }} 8u {{ end }} 12u(narrower)">

              <!-- Content -->
                <div class="content">
                  <section>
                    {{ .Content }}
                  </section>
                </div>
                <span class="post-date created">Ecrit le : {{ .Date.Format "02-01-2006" }}</span>
                <p>{{ partial "github-edit.html" .}}</p>

              </div>
              <div class="4u 12u(narrower)">
                <!-- Sidebar -->
                <div class="sidebar">
                  {{ if eq .Params.is_github 1 }}
                    {{ partial "github/github-commits.html" .}}
                  {{ end }}
                </div>
              </div>
            </div>
          </section>

    </article>
    {{ partial "footer.html" .}}
    {{ partial "scripts/script.html" .}}
  </body>
</html>
