<!-- Footer -->
<footer id="footer">

  <ul class="icons">
    {{ if .Site.Params.twitter }}
    <li>
      <a href="http://twitter.com/{{ .Site.Params.twitter }}"
         title="@{{ .Site.Params.twitter }} on Twitter"
         class="icon circle fa-twitter">
        <span class="label">Twitter</span>
      </a>
    </li>
    {{ end }}

    {{ if .Site.Params.github }}
      <li>
        <a href="https://github.com/{{ .Site.Params.github }}"
           title="{{ .Site.Params.github }} on github"
           class="icon circle fa-github">
          <span class="label">Github</span>
        </a>
      </li>
    {{ end }}

    {{ if .Site.Params.bitbucket }}
      <li>
        <a href="#" class="icon circle fa-bitbucket">
          <span class="label">Google+</span>
        </a>
      </li>
    {{ end }}

    {{ if .Site.Params.linkedin }}
    <li>
      <a href="#" class="icon circle fa-facebook">
        <span class="label">Facebook</span>
      </a>
    </li>
    {{ end }}

    {{ if .Site.Params.linkedin }}
      <li>
        <a href="#" class="icon circle fa-linkedin">
          <span class="label">Google+</span>
        </a>
      </li>
    {{ end }}

    {{ if .Site.Params.googleplus }}
      <li>
        <a href="#" class="icon circle fa-google-plus">
          <span class="label">Google+</span>
        </a>
      </li>
    {{ end }}

    {{ if .Site.Params.email }}
      <li>
        <a href="mailto:{{ .Site.Params.email }}" title="Email {{ .Site.Params.email }}" class="icon circle fa-envelope-o">
          <span class="label">Email</span>
        </a>
      </li>
    {{ end }}
  </ul>

  <ul class="copyright">
    <li>&copy; Jean-Yves Gastaud</li>
    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    {{ $currentNode := . }}
    {{ range .Site.Menus.footer }}
      <li class="{{if $currentNode.HasMenuCurrent "main" . }} current{{end}}">
        <a href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a>
      </li>
    {{end}}
  </ul>

</footer>
