{{ partial "head.html" . }}
<body class="no-sidebar">

    {{ partial "header.html" . }}

    <!-- Main -->
    <article id="main">

      <!-- Three -->
      <section class="wrapper style3 container special">

        <header class="major">
          <h2>Tous les articles</strong></h2>
        </header>

        <div class="row">

          <div class="12u 12u(narrower)">

          {{ range .Data.Pages.GroupByDate "2006" }}

            <section>
              <header>
                <h3>{{ .Key }}</h3>
              </header>

              <ul id="list">
                {{range .Pages }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }} {{ if .GetParam "draft"}}DRAFT{{end}}</a> {{ .Date.Format "02-01" }}
                </li>
                {{ end }}
              </ul>

              </footer>
            </section>

            {{ end }}
          </div>
        </div>


      </section>

    </article>
  </body>
  {{ partial "script.html" .}}
</html>
